<section>
    <div class="container">
        <div class="fancy-form quote-print">
            <h2>Quote :</h2>
            <ul>
                <li> <strong>range:</strong> <%= @quote['range'] %></li>
                <li> <strong>building type:</strong> <%= @quote['type'] %></li>
                <li> <strong>unit cost:</strong> <%= @quote['elevator_unit_cost'] %></li>
                <li> <strong>number of elevator:</strong> <%= @quote['number_of_elevators'] %></li>
                <li> <strong>setup fees:</strong> <%= @quote['setup_fees'] %></li>
                <li> <strong>total:</strong> <%= @quote['total'] %></li>
            </ul>
            
        </div>
    </div>
</section>
