<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <section>
    <div class="container">
      
      <div class="row">

        <div class="col-md-6 offset-md-3">

          <!-- ALERT -->
          <%= render "devise/shared/error_messages", resource: resource %>
          <!-- /ALERT -->

          <div class="box-static box-border-top p-30">
            <div class="box-title mb-30">
              <h2>Edit <%= resource_name.to_s.humanize %></h2>
            </div>

            <form class="m-0" method="post" action="#" autocomplete="off">
              <div class="clearfix">

                <!-- Email -->
                <div class="form-group">
                  <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Email' %>
                </div>

                <!-- Current Password -->
                <div class="form-group">
                  <%= f.password_field :current_password, autofocus: true, autocomplete: "current-password", class: 'form-control', placeholder: "Current password to confirm your changes" %>
                </div>

                <!-- Password -->
                <div class="form-group">
                  <%= f.password_field :password, autofocus: true, class: 'form-control', placeholder: 'New Password' %>
                </div>

                <div class='form-group'>
                  <%= f.password_field :password_confirmation, autofocus: true, class: 'form-control', placeholder: 'Confirm '%>
                </div>

                <% if @minimum_password_length %>
                  <em><%= @minimum_password_length %> characters minimum</em>
                <% end %>
                

              </div>
              
              <div class="row">
                
                <div class="col-md-6 col-sm-6 col-6">
                  
                </div>
                
                <div class="col-md-6 col-sm-6 col-6 text-right">
                  <%= f.submit  "Confirm Edit", class:"btn btn-primary" %>
                </div>
                
              </div>
              
            </form>

          </div>
          
          <div class="mt-30 text-center">
            <%- if devise_mapping.registerable? && controller_name != 'sessions' %>
              <strong><%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class:"btn btn-danger btn-sm" %></strong>
            <% end %>
          </div>

        </div>
      </div>
      
    </div>
  </section>
<% end %>