<div class="img-hover">
    <a href="<%= new.link_src %>">
        <img class="img-fluid" src="<%= new.image_src %>" alt="">
    </a>

    <h4 class="text-left mt-20"><a href="<%= new.link_src %>"><%= new.title %></a></h4>
    <p class="text-left"><%= new.p %></p>

</div>