<div class="estimate-builder">
    
    <div class="forms">
        <!-- RESIDENTIAL FORM-->
        <%= render partial: 'residential-form' %>
        <!-- /RESIDENTIAL FORM-->

        <!-- COMMERCIAL FORM-->
        <%= render partial: 'commercial-form' %>
        <!-- COMMERCIAL FORM-->

        <!-- CORPORATE FORM-->
        <%= render partial: 'corporate-form' %>
        <!-- CORPORATE FORM -->

        <!-- HYBRID FORM-->
        <%= render partial: 'hybrid-form' %>
        <!-- HYBRID FORM-->


    </div>
    <!-- ESTIMATE -->
    <%= render partial: 'estimate' %>
    <!-- ESTIMATE -->

</div>