<div class="img-hover">
    <a href="<%= link %>">
        <img class="img-fluid" src="<%= imageSrc %>" alt="">
    </a>

    <h4 class="text-left mt-20"><a href="<%= link %>"><%= title %></a></h4>
    <p class="text-left"><%= p %></p>

</div>