<!-- HEADER -->
<%= render partial: 'header' %>
<!-- /HEADER  -->

<div id="top"></div>

<!-- REVOLUTION SLIDER -->
<%= render partial: 'hero-slider' %>
<!-- /REVOLUTION SLIDER -->

<!-- 1px line separator -->
<hr class="m-0" />

<!-- SERVICES -->
<%= render partial: 'services' %>
<!-- /SERVICES -->

<!-- SINCE CTA -->
<%= render partial: 'since-cta' %>
<!-- /SINCE CTA -->

<!-- 1px line separator -->
<hr class="m-0" />

<!-- AWARDS & PROJECTS -->
<%= render partial: 'award' %>
<!-- AWARDS & PROJECTS -->

<!-- TEAM -->
<%= render partial: 'team' %>
<!-- /TEAM -->

<!-- NEWS -->
<%= render partial: 'news' %>
<!-- /NEWS -->

<!-- CLIENTS -->
<%= render partial: 'clients' %>
<!-- /CLIENTS -->

<!-- CONTACT -->
<% render partial: 'contact'%>
<!-- /CONTACT -->

<!-- FOOTER -->
<%= render partial: 'footer' %>
<!-- /FOOTER -->