 <div id="header" class="navbar-toggleable-md sticky header-lg clearfix">
    <header id="topNav">
        <div class="container">

            <!-- Logo -->
            <a class="logo float-left" href="<%= root_path() %>">
                <%= image_tag 'rocket-elevators-logo.png' %>
            </a>

            <div class="navbar-collapse collapse float-right nav-main-collapse submenu-dark">
                <nav class="nav-main">
                    <ul id="topMain" class="nav nav-pills nav-main nav-onepage">
                        
                        <% @navs.each do |nav| %>
                        <%= render partial: 'common/nav-with-id', 
                                    locals: { nav: nav  } %>
                        <% end %>

                        <% if user_signed_in? %>
                        
                            <%= render partial: 'common/nav-with-links', locals: { title: 'admin', path: rails_admin_path() , method: 'get'}%>
                        
                            <%= render partial: 'common/nav-with-links', locals: { title: 'Edit Profile', path: edit_user_registration_path(), class: '', method: 'get' }%>
                            <%= render partial: 'common/nav-with-links', locals: { title: 'Logout', path: destroy_user_session_path(), method: 'delete' ,class: '' }%>
                        <% else %>
                            <%= render partial: 'common/nav-with-links', locals: {title: 'login', path: new_user_session_path(), class: '', method: 'get'} %>
                        <% end %>

                    </ul>
                </nav>
            </div>

        </div>
    </header>
</div>
