<!DOCTYPE html>
<html>
  <head>
    <title>RocketElevatorsInformationSystem</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "application" %>
  </head>

  <body class="smoothscroll enable-animation">
    <div id="wrapper">
      <!-- HEADER -->
      <%= render partial: 'common/header', locals: { navs: @navs}%>

      <!-- 1px line separator -->
      <div id="top"></div>

      <%= yield %>

      <!-- CONTACT -->
      <%= render partial: 'common/contact' %>

      <!-- FOOTER -->
      <%= render partial: 'common/footer' %> 
    </div>
  </body>

  <script>
    var plugin_path = 'assets/plugins/';
  </script>
</html>
